streamlit==1.52.2
pandas==2.3.3
numpy==1.26.4
scikit-learn==1.7.2
sentence-transformers==5.2.0
faiss-cpu==1.7.4
python-dotenv==1.2.1
matplotlib==3.10.8
seaborn==0.12.2
tqdm==4.67.1
jupyter==1.0.0
pyarrow==23.0.0
openpyxl==3.1.5
requests==2.32.5
transformers==4.57.3
torch==2.8.0+cu129
torchvision==0.23.0+cu129
torchaudio==2.8.0+cu129